.button-expander {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
    width: fit-content;
}

.expander-content {
    margin-right: 10px;
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Transition both */
    visibility: hidden; /* Important: Hide initially */
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    padding: 10px;
    white-space: nowrap;
    top: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
    transform-origin: right center; /* Set transform origin */
}

.expander-toggle {
    padding: 5px 10px;
    border: 1px solid gray;
    background-color: lightgray;
    cursor: pointer;
    z-index: 2; /* Ensure toggle is above content */
    position: relative; /* Needed for z-index to work */
}

.button-expander.expanded .expander-content {
}