.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 345px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 1rem;
    cursor: pointer; 
    overflow: hidden;
}

.project-card img {
    transition: transform 0.3s ease-in-out; 
}

.image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    flex: 1;
    padding: 10px;
}

