.header {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 100px;
    right: 100px;
    height: 100px;
    display: flex;
}

.header-content { /* Style the content container */
    display: flex;
    justify-content: space-between; /* Example: Align nav to left, h1 to right */
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}
