.header {
    background-color: transparent;
    /* position: absolute; Remove this! */
    position: fixed; /* Or position: sticky; */
    z-index: 10;
    top: 0;
    left: 95px;
    right: 95px;
    height: 75px;
    align-items: center; /* Align items vertically */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Distribute space between left and right */
    align-items: center; /* Vertically center content */
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.regular-links { /* Styles for regular links */
    display: grid;
    grid-template-columns: auto 1fr auto auto auto; /* Grid layout */
    align-items: center; /* Vertically align items */
    width: 100%;
}

nav a {
    margin-bottom: 0;
}

nav a.active {
    color: blue;
}

header nav a:hover {
    color: red;
}

.left-links {
    font-size: 2rem;
    font-family: 'ArchitectsDaughter'; /* Add font-family */
    grid-column: 1;
}

.right-links {
    text-decoration: none;
    color: #555;
    margin-right: 2px;
    font-size: 2rem;
    font-family: 'EngineerHand';
}

    .right-links:nth-child(2) {
        grid-column: 3;
    }

    .right-links:nth-child(3) {
        grid-column: 4;
    }

    .right-links:nth-child(4) {
        grid-column: 5;
        margin-right: 10px;
    }

.right-content { /* Styles for the container of button and links */
    display: flex;
    align-items: center; /* Align button and links vertically */
    justify-content: flex-end;
}

/* Styles for the dropdown menu (initially hidden) */
.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

/* Styles for the dropdown button (hidden on larger screens) */
.dropdown-button {
    display: none;
    position: absolute;
    right: 0;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .right-links {
        display: none; /* Hide regular links on small screens */
    }

    .dropdown-button {
        display: block; /* Show button on small screens */
    }

    .dropdown-menu {
        display: block; /* Show dropdown menu on small screens */
    }
}