@import url('layout.css');
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.canvas-container {
    flex-grow: 1; /* Allow canvas to take up available space */
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-shrink: 0;
}

.layout-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.page-content { /* Style for the page content overlay */
    position: absolute; /* Absolutely position the page content */
    top: 60px; /* Match header height + padding */
    bottom: 60px; /* Match footer height + padding */
    left: 100px; /* Match container padding */
    right: 100px; /* Match container padding */
    z-index: 5; /* Ensure page is above canvas */
    background-color: transparent;
    overflow-y: hidden;
    padding: 20px;
    color: black;
}