body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
}
.content-container {
    padding: 20px;
    position: relative;
    z-index: 1;
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.app-container.drawing-mode .content-container {
    filter: grayscale(0.7);
    pointer-events: none;
}

.app-container.drawing-mode .graph {
    filter: brightness(0.5);
}
